.App {
  text-align: center;
}

.news h2 {
  display: inline-block;
  padding: 10px;
}

.widgetlist {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}